.container {
  background-image: url(./image/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #f8dad0;
}
.nav-link {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  background: #b0d4b8 !important;
  color: #21244d !important;
}
.nav-pills .nav-link.active {
  color: brown !important;
}
/* Bài tập 1 */
form .form-select-lg {
  font-size: 1rem !important;
  padding: 6px 12px !important;
  margin-top: 1.5rem !important;
}
#formTinhTienCap .form-select-lg {
  margin-top: 0 !important;
}
h2 {
  font-size: 32px;
  color: red !important;
  margin-bottom: 8px;
  text-transform: uppercase;
}
